{% extends "smartmin/list.html" %}

{% block table-controls %}
<div class="row">
  <div class="span6">
    {% if view.search_fields %}
    <form class="form-search">
      <input type="text" class="input-medium search-query" name="search" value="{{ search }}">
      <button type="submit" class="btn">Search</button>
    </form>
    {% else %}
    &nbsp;
    {% endif %}
  </div>

  <div class="span6 buttons">
    {% block table-buttons %}
    <div class="pull-right">
    {% if perms.members.application_csv %}
    <a class="btn" href="{% url 'members.application_csv' %}">Export</a>
    {% endif %}

    {% if view.add_button %}
    <a class="btn btn-primary" href="./create/">Add</a>
    {% endif %}
    </div>
    {% endblock table-buttons %}
  </div>
</div>
{% endblock %}
