{% extends "public_base.html" %}

{% load smartmin %}

{% block login %}{% endblock %}

{% block extra-style %}
<style>
.page-header {
  border: none;
  margin: 0px;
  font-size: 2em;
}

fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}

</style>

{% endblock %}

{% block main-contents %}
<div class="row">
    <div class="col-md-6 col-md-offset-4">
    <div class="page-header" ><h3>Login</h3></div>

    <form method="post" class="form-stacked" id="login-form">
      {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}
      <div class="alert-message error form-errors">
        {{ errors }}
      </div>
      {% endif %}
      {% endfor %}
      
      <fieldset>
        {% for field in form %}
        <div class="clearfix {% if field.error %}error{% endif %}">
            <div class="form-group">
	  {% if field.name == "username" %}
          <label for="username">Email</label>
	  {% else %}
          <label for="{{ field.name }}">{{ field.label }}</label>
	  {% endif %}
          <div class="input">{{ field }}</div>
          {% if field.error %}
          <span class="help-inline">{{ field.error }}</span>
          {% endif %}
        </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Login">
      </fieldset>
    </form>
  </div>

</div>
{% endblock %}
