deploy
*.*~
*.db
*.pyc
#*#
.DS_Store
db/
env
\#*
\.#*
media
build
klab/build
/klab/settings.py
/klab/src/pip-delete-this-directory.txt
/klab/src/smartmin/
/klab/6835829686_3f99809674.jpg
/klab/6835830392_35f11a90f9.jpg
config/gen
config/settings.py
src
coverage-report/
klab/.coverage
klab/settings.py.protected
klab/settings_local.py
klab/smartmin

# Pycharm
.idea/
