#container,
#footer,
#footer_contents,
#main,
#no-flickr,
#events_content,
#main-contents,
#sides,
#wiki-container,
#favorites,
#main-side,
#likebox,
#opportunities_content,
#small-side,
#blog_contents,
#blog_main,
#all_about_us,
#klab-map,
#about_detail,
.person-words,
.about_details,
.questions,
.paginate,
.full_post,
.row,
.post_main,
.event_small,
.event_main,
.event_heading,
.description,
.pull-left,
.pull-right,
.event_details,
.full-events,
.opportunity_small,
.search_form input,
.full_opportunities,
.opportunity_main,
.contact input,
.contact textarea,
.opportunity_details{
	width:100%;
}
#footer,#socialize{
	height:auto;
	margin-top: 80px;
}
body{
	font-size: 18px;
}
.big.button.radius.shadow {
    text-align: center;
}
.full_events{
	padding: 15px;
}
.event_details{
	padding-top: 15px;
}
.event_heading{
	margin-top: 15px;
}
.event_main,
.post_main,
.event_small,
.opportunity_details,
.opportunity_small,
.post_small .post_photos,
#posts,
#apply,
#small-side{
	padding: 30px;
}
.post_small .post_photos{
	background-color: rgba(68, 68, 68, 0);
}
#small-side {
	height: auto;
}
.header_menu{
	display: inline;
	position: relative;
	float: right;
	padding: 1em;
}
.header_menu svg{
	width: 35px;
	fill : #FFFFFF;
}
#menu{
	z-index: 1;
	background-color: #E3E4E4;
	width:300px;
	position: absolute;
	-webkit-transform : translate(-300px,70px);
	-ms-transform : translate(-300px,70px);
	transform:translate(-300px,70px);
	transition : transform 0.4s ease;
}
#menu.open{
	-webkit-transform:translate(0,70px);
	-ms-transform:translate(0,70px);
	transform:translate(0,70px);
}
.menu_item{
	display: list-item;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #E0E0E0
}
#likebox{
	height: 60px;
	float: none;
}
#socialize{
	padding: 0px;
}
#footer{
	position: relative;
}
#copyright{
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
#favorites > a img{
	position: relative;
}
#favorites{
	height: auto;
}
img.fav_1{
	width:96vw;
}
.fav_2{
	width: 50vw;
	left: 0px;
}
.fav_3{
	width: 45vw;
	top: -30px;
	left: 0px;
}
.fav_4{
	width:50vw;
	float: left;
	left: 0px;
	top:0px;
}
.fav_5{
	width: 45vw;
	top:-55px;
	left: 0px;
}
#favorites > a img.fav_3{
	margin-left: 0px;
}
tr.row_responsive,tr{
	word-break:break-word;
}
#example-navbar-collapse{
    float: left;
}
.paginate{
	text-align: center;
}
input.send_button.button.radius.shadow {
    width: 100%;
}
.post_small .post_photos{
	position: relative;
}
.post_main {
    margin-top: 30px;
}
.about_details,#about_detail{
	border-bottom: 1px solid #088eec;
	border-left: 0px;
	float:none;
	padding-top: 20px;
}
.questions{
	float: none;
}
tr td.modal-cell{
	display: inline-table;
}
.about_group {
    margin: 30px;
}
.modal-body{
	max-height: 500px;
	overflow: auto;
}
.modal-content{
	background-color: #E3E4E4;
	padding-bottom: 10px;
}
span.big.button.radius.shadow {
    display: block;
}
#welcome table{
	float: none;
}
#welcome span{
	float: none;
}
.founder_content{
	display: initial;
	border-bottom: 1px solid #088eec;
    padding-bottom: 20px;
}
#founder_contents{
	display: initial;
	padding-bottom: 20px;
}
