{% extends "frame.html" %}

{% block title %}Lab | Open Space for IT Entrepreneurs{% endblock %}

{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/smartmin_styles.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/admin_styles.css">
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="/">kLab</a>
{% endblock brand %}

{% block navigation %}
<nav class="collapse navbar-collapse" id="smartmin-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
        {% if perms.blog.post_list %}
            <li><a href="{% url 'blog.post_list' %}">Posts</a></li>
        {% endif %}

        {% if perms.events.event_list %}
            <li><a href="{% url 'events.event_list' %}">Events</a></li>
        {% endif %}

        {% if perms.events.video_list %}
            <li><a href="{% url 'events.video_list' %}">Videos</a></li>
        {% endif %}

        {% if perms.django_quickblocks.quickblock_list %}
            <li><a href="{% url 'django_quickblocks.quickblock_list' %}">Content</a></li>
        {% endif %}

        {% if perms.members.application_list %}
            <li><a href="{% url 'members.application_list' %}">Membership Applications</a></li>
        {% endif %}

        {% if perms.members.member_list %}
            <li><a href="{% url 'members.member_list' %}">Members</a></li>
        {% endif %}

        {% if perms.opportunities.opportunity_list %}
            <li><a href="{% url 'opportunities.opportunity_list' %}">Opportunities</a></li>
        {% endif %}

        {% if perms.projects.project_list %}
            <li><a href="{% url 'projects.project_list' %}">Projects</a></li>
        {% elif perms.projects.project_shortlist %}
            <li><a href="{% url 'projects.project_shortlist' %}">Projects</a></li>
        {% endif %}

        {% if perms.auth.user_list %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if perms.auth.user_list %}
                        <li><a href="/users/user/">Users</a></li>
                    {% endif %}
                    {% if perms.django_quickblocks.quickblocktype_list %}
                        <li><a href="{% url 'django_quickblocks.quickblocktype_list' %}">Content Types</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
	  {% block login %}
          {% if request.user and request.user.is_authenticated %}
              <li><a href="{% url 'users.user_logout' %}?go=/">{{ request.user.username }} | logout</a></li>
          {% else %}
              <li><a href="{% url 'users.user_login' %}">Login</a></li>
          {% endif %}
      {% endblock login %}
    </ul>
</nav>
{% endblock navigation %}



{% block extra-style %}

{% endblock %}


