{% load i18n %}
<!doctype html>
<!-- [if IE ]> <html class="no-js"> <![endif] -->
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="18qOVgZDKR3GDyvnFRMbSGPrFmGS2iuFdKLwBeTAkLg" />

  <!-- share button details -->
  {% block share-button %}
  {% endblock %}
  <!-- Block for twitter card-->
  {% block twitter-card %}
  {% endblock %}

  <!-- favicon for web browser and smartphones -->
  <link rel="icon" href="{{ STATIC_URL }}images/favicon.png" type="image/x-png">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Homenaje|Molengo' rel='stylesheet' type='text/css'>

  {% block main-styles %}
  <!-- CSS Section -->
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  {% block stylesheet %}
  {% endblock %}
   <!--load css for mobile and tablet-->
  <link type="text/css" rel="stylesheet" media="screen and (max-width : 1015px)" href="{{STATIC_URL}}css/responsive.css">
  {% endblock %}

  <!-- JavaScript at the bottom for fast page loading, conditional based on whether we are serving locally -->
  <script>
    if (window.location.hostname == "localhost"){
        document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.8.3.js"%3E%3C/script%3E'));
    } else {
        document.write(unescape('%3Cscript src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"%3E%3C/script%3E'));
    }
  </script>

  {% block extra-style %}{% endblock %}

  <title>{% block title %}kLab | Open Space for IT Entrepreneurs{% endblock %}</title>
  <meta property="fb:admins" content="1324913211,597051457,600063409"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45413728-1', 'klab.rw');
    ga('send', 'pageview');

  </script>

</head>

<body lang="en">
  {% block inbody-script %}
  {% endblock %}

  <div id="container">
    {% load smartmin %}
    <div id="header">                                                                     <!-- Header -->
      <nav class="navbar navbar-default" role="navigation">

      <div class="navbar-header">

        <div id="logo">
          <a href="{% url 'public_home' %}">
            <img src="{{ STATIC_URL }}images/logo.jpg" class="" alt="" />
          </a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="{% url 'public_about' %}" >about us</a></li>
            <li><a href="{% url 'public_contact' %}" >contact</a></li>
            <li><a href="{% url 'public_members' "all" %}" >members</a></li>
            <li><a href="{% url 'public_startups' %}" >startups</a></li>
            <li><a href="{% url 'public_opportunities' "new" %}" >opportunities</a></li>
            <li><a href="{% url 'public_events' "all" %}" >events</a></li>
            <li><a href="{% url 'public_blog' %}" >blog</a></li>

            {% if perms.members.member_myprofile and member_for_user %}
              <li><a href="{% url 'members.member_myprofile' 0 %}" >profile</a></li>
            {% endif %}

            {% if request.user.is_authenticated %}
              <li><a href="{% url 'users.user_logout' %}" >logout</a></li>
            {% else %}
              <li><a href="{% url 'users.user_login' %}">login</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>
    </div>                                                                                <!-- End Header -->
    <div style="clear: both;"></div>

    <div id="main">                                                                       <!-- Main -->
      {% block main-contents %}
      {% endblock %}
      
      <div class="paginate">
        {% if paginator and paginator.num_pages > 1 %}
        <ul class="pagination pull-right">
          {% if page_obj.has_previous %}
          <li ><a href="?page={{page_obj.previous_page_number}}">&larr; {% trans "Previous" %}</a></li>
          {% else %}
          <li class="disabled"><a href="#">&larr; {% trans "Previous" %}</a></li>
          {% endif %}
  
          {% for page_num in paginator.page_range %}
      {% if page_obj.number < 5 %}
        {% if page_num < 10 %}
          {% if not page_num == page_obj.number %}
            <li><a href="?page={{page_num}}">{{ page_num }}</a></li>
          {% else %}
                  <li class="active"><a href="#">{{ page_num }}</a></li>
                {% endif %}
              {% endif %}
      {% elif page_num < page_obj.number|add:"5" and page_num > page_obj.number|add:"-5" %}
        {% if not page_num == page_obj.number %}
          <li><a href="?page={{page_num}}">{{ page_num }}</a></li>
        {% else %}
                <li class="active"><a href="#">{{ page_num }}</a></li>
              {% endif %}
      {% elif page_obj.number > paginator.num_pages|add:"-5" %}
        {% if page_num > paginator.num_pages|add:"-9" %}
          {% if not page_num == page_obj.number %}
            <li><a href="?page={{page_num}}">{{ page_num }}</a></li>
          {% else %}
                  <li class="active"><a href="#">{{ page_num }}</a></li>
                {% endif %}
        {% endif %}
  
            {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
          <li><a href="?page={{page_obj.next_page_number}}">{% trans "Next" %} &rarr;</a></li>
          {% else %}
          <li class="disabled"><a href="#">{% trans "Next" %} &rarr;</a></li>
          {% endif %}
        </ul>
      {% endif %}
      </div>
    </div>  
  </div>
  <div style="clear: both;"></div>

  <div id="footer">                                                                       <!-- Footer -->
    <div id="footer_contents">

<div id="likebox">
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FkLab%2F252632714822375&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=312581992141260" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:110px;" allowTransparency="true"></iframe>
</div>

      <div id="socialize">
        <a href="https://www.twitter.com/#!/klabrw"><img src="{{STATIC_URL}}images/twitter_icon.png"/></a>
        <a href="https://www.facebook.com/pages/kLab/252632714822375"><img src="{{STATIC_URL}}images/facebook_icon.png"/></a>
        <a href="https://www.flickr.com/photos/klabrwanda"><img src="{{STATIC_URL}}images/flickr_icon.png"/></a>
        <a href="https://www.github.com/nyaruka/klab"><img src="{{STATIC_URL}}images/github_icon.png"/></a>
	<a href="https://www.youtube.com/channel/UCYbgm6lp4iJEtM1lBA5hAxw"><img src="{{STATIC_URL}}images/youtube_icon.png"/></a>
      </div>
      <div style="clear: both;"></div>
      <div id="copyright">
        kLab	© 2012	Copyright. All rights reserved.  
        <span class="login">
          {% if perms.members.application_list %}
          <a href="{% url 'members.application_list' %}">Admin</a>
          {% elif perms.events.event_list %}
          <a href="{% url 'events.event_list' %}">Admin</a>
          {% endif %}
        </span>
        <span><a href="https://www.nyaruka.com"><img border="0" src="{{STATIC_URL}}images/nyaruka_footer.png" style="float: right;" /></a></span>
      </div>

    </div>
  </div>                                                                                  <!-- End Footer -->


  <!-- IE craziness! What can u do? -->
  <!-- [if lt IE 9]><script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif] -->

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tweet.js"></script>
  {% block javascript %}
  {% endblock javascript %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pjax.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  {# media associated with any form we are displaying #}
  {% if form %}
  {{ form.media }}
  {% endif %}

  {% block extra-script %}{% endblock %}
  {% block script %}{% endblock %}
  {# endcompress #}


  <!-- End Script -->
</body>

</html>
