{% extends "public_base.html" %}

{% load quickblocks %}
{% load thumbnail %}

{% block title %}
{{block.super}} | Open Space for IT Enterpreneurs
{% endblock title %}

{% block extra-style %}


<style>
  
.modal-toggle {
  font-size: 20px; 
  font-family: Homenaje, 
  sans-serif; 
  color:#088eec; 
  text-decoration:none;
  }

.modal-own {
  width:auto; 
  background-color: #e3e4e4;
  padding: 0 10px 10px 10px;
}

.modal-photo {
  width: 150px; 
  float: left;
}

.modal-words {
  width: 650px; 
  float: right
}

.modal-content {
 font-size: 15px;
}

.modal-title {
  font-size: 25px; 
  padding: 10px 0px;
}

.modal-cell {
  padding: 7px 30px;
}

</style>  
{% endblock extra-style %}

{% block main-contents %}

{% load_qbs "who_are_we" %}
{% load_qbs "what_we_do" %}
{% load_qbs "physical_address" %}
{% load_qbs "friends_of_klab" %}
{% load_qbs "founding_members" %}

{% load markup %}

<div id="all_about_us">

  {% for text in who_are_we %}
  <div class="about_group">
    <div class="questions">
      <span>{{text.title}}</span>
    </div>
    <div class="about_details">
      {{text.content|markdown:"nl2br"}}
    </div>
  </div>  
  <div style="clear: both;"></div>
  {% endfor %}

  {% for text in what_we_do %}
  <div class="about_group">
    <div class="questions">
      <span>{{text.title}}</span>
    </div>
    <div class="about_details">
      {{text.content|markdown:"nl2br"}}
    </div>
  </div>  
  <div style="clear: both;"></div>
  {% endfor %}

  {% for address in physical_address %}
  <div class="about_group">
    <div class="questions">
      <span>{{address.title}}</span>
    </div>
    <div class="about_details">
      {{address.content|markdown:"nl2br"}}
    </div>
  </div>  
  <div style="clear: both;"></div>
  {% endfor %}

  
  <div class="about_group">
    <div class="questions">
      {% with founding_members|first as founder %}
      <span>{{founder.quickblock_type.name}}</span>
      {% endwith %}
    </div>
    <div class="about_details">
      <table>
	<tbody>
	  
	  {% for person in founding_members %}
          {% if forloop.counter0|divisibleby:"3" %}
          <tr>
	  {% endif %}  
	  <td class="modal-cell">
	    <a data-toggle="modal" href="#myModal-{{person.pk}}" role="button" class="modal-toggle">
	      <div style="padding:5px">
		{% thumbnail person.image "150x150" crop="center" as im %}
		<img  src="{{im.url}}" />
		{% endthumbnail %}
	      </div>
	      <div style="padding-left: 5px;">
		{{person.title}}
	      </div>
	    </a>
	    
	    <div id="myModal-{{person.pk}}" class="modal hide fade modal-own" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-body">

		<div class="modal-photo">
		  {% thumbnail person.image "120x140" crop="center" as im %}
		  <img  src="{{im.url}}" />
		  {% endthumbnail %}
		</div>
		
		<div class="modal-words">
		  <div class="modal-title">
		    {{ person.title }}
		  </div>
		  <div class="modal-content">
		    {{ person.content }}
		  </div>
		</div>

	      </div>
	    </div>
	    	   
	  </td>
	  
	  {% if forloop.counter|divisibleby:"3" %}
	  </tr>
	  {% endif %}
	  
	{% endfor %}
	</tbody>
      </table>
      
    </div>
  </div>
</div>  
<div style="clear: both;"></div>

<div class="about_group">
  <div class="questions">
    {% with friends_of_klab|first as friend %}
    <span>{{friend.quickblock_type.name}}</span>
    {% endwith %}
    </div>
  <div class="about_details">
    {% for logo in friends_of_klab %}
    <a href="{{logo.link}}"><img vspace="10" src="{{MEDIA_URL}}{{logo.image}}" /></a><br/>
    {% endfor %}
  </div>
  </div>  
  <div style="clear: both;"></div>
  
  
</div>

{% endblock main-contents %}

{% block javascript %}
<script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap.min.js"></script>

{% endblock javascript %}
