{% extends "public_base.html" %}

{% load thumbnail %}
{% load pagination_tags %}

{% block main-contents %}

<div id="blog_contents">

  <div id="blog_main">
    {% autopaginate posts 3 %}

    {% for post in posts %}
    <div class="full_post">

      <div class="post_small">
        <span class="date">
          {{post.created_on|date:"F dS,Y"}}
        </span>
        <div class="post_photos">
          {% thumbnail post.photo "250x300" crop="center" as im %}
          <img src="{{im.url}}" />
            {% empty %}
            <img src="{{STATIC_URL}}images/placeholder_250x300.jpg">
          {% endthumbnail %}
        </div>
      </div>
      <div class="post_main">
        <div class="post_header">
          <div class="title">
            <a href="{{ post.get_public_url }}">{{post.title}}</a>
          </div>
	  {% with post.created_by as author %}
	  <div class="byline">by {{ author.first_name|capfirst }} {{ author.last_name }}</div>
	  {% endwith %}
        </div>
        <div style="clear: both;"></div>          

        <div class="post_body">
          {{post.body|safe }}
        </div>
      </div>
      
    </div>
    <div style="clear: both;"></div>

    {% endfor %}

  </div>
</div>
<div style="clear: both;"></div>

<div class="paginate">
  {% paginate %}
</div>

{% endblock main-contents %}
