{% extends "public_base.html" %}

{% block main-contents %} 
<div id="blog_contents">

  <div id="blog_main">
    <div class="full_post">

      <div class="post_main">
        <div class="post_header">
          <div class="title contact-guide-title">
            Guide
          </div>
        </div>
        <div style="clear: both;"></div>
        <div id="kLab-guide" style="height:50px;">
          <a class="guide-download" href="{{ STATIC_URL }}docs/kLab_guide.pdf" target="_blank"><span class="button radius shadow send_button">Download our printable guide</span></a>
        </div>
        <div class="post_header">
          <div class="title contact-map-title">
            Location
          </div>
        </div>
        <div style="clear: both;"></div>
        <div id="klab-map">
          <div style="margin-bottom:10px;"><b>Click the image below for direction</b></div>
          <div>
              <a href="https://www.google.com/maps/dir//44+KG+548+St,+Kigali/@-1.9394216,30.0884093,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x19dca6c064714259:0x41bd02df64222d25!2m2!1d30.090598!2d-1.939427!3e0">
                  <img src="{{ STATIC_URL }}images/klab-maps.png" width="60%">
              </a>
          </div>

        </div>
        <div class="post_header">
          <div class="title contact-form-title">
            Contact
          </div>
        </div>
        <div style="clear: both;"></div>          
        
        <div class="post_body">
          <form action="" method="post">{% csrf_token %}
	    {% for field in form %}
            <div class="contact">
              
	      {% if field.errors %}
	      
		{% for error in field.errors %}
		<div>{{ field.label_tag }}*  </div> <div>{{ field }} <span><strong>{{ error|escape }}</strong></span></div></br>
		{% endfor %}
	      {% else %}
	      <div>{{ field.label_tag }}*  </div> <div>{{ field }}</div></br>
	      {% endif %}
              
            </div>
	    {% endfor %}
	    <p><input class="send_button button radius shadow" type="submit" value="Send" /></p>
	  </form>

        </div>

        
        
      </div>



    </div>
  </div>

</div>
{% endblock main-contents %}

