{% extends "public_base.html" %}


{% block main-contents %} 
<div id="blog_contents">

  <div id="blog_main">
    <div class="full_post">

      <div class="post_main">
        <div class="post_header">
          <div class="title">
            Message sent
          </div>
	  
	  
        </div>
        <div style="clear: both;"></div>          
        
        <div class="post_body">
         
	    Thank you for your message
	    

        </div>

        
        
      </div>



    </div>
  </div>

</div>
{% endblock main-contents %}
