{% extends "public/home.html" %}

{% load thumbnail %}

{% block title %}
{{block.super}}
{% endblock title %}

{% block share-button %}
  <meta property="og:url"           content="https://www.klab.rw{% url 'solo_event' event.id %}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{event.title|truncatewords:"9"}}" />
  <meta property="og:description"   content="{{event.description|truncatewords:"20" }}" />

  {% thumbnail event.logo "280x150" crop="center" as im %}
    <meta  property="og:image" content="https://www.klab.rw{{im.url}}" />
  {% empty %}
     <meta  property="og:image" content="https://www.klab.rw{{STATIC_URL}}images/placeholder_280x150.jpg" />
  {% endthumbnail %}
{% endblock %}

{% block twitter-card %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@klabrw">
  <meta name="twitter:title" content="{{event.title|truncatewords:"9"}}">
  <meta name="twitter:description" content="{{event.description|truncatewords:"20" }}">
  {% thumbnail event.logo "280x150" crop="center" as im %}
    <meta name="twitter:image" content="{{im.url}}">
  {% empty %}
     <meta  property="og:image" content="{{STATIC_URL}}images/placeholder_280x150.jpg" />
  {% endthumbnail %}
{% endblock %}

{% block main-contents %}

<div id="events_content">

    <div class="event_small">
      <a href="{% url 'public_events' "all" %}">All Events</a>
      <a href="{% url 'public_events' "upcoming" %}">Upcoming Events</a>
      <a href="{% url 'public_events' "past" %}">Past Events</a>
    </div>  

    
    <div class="event_main">
      <div class="solo_event_image">
        {% thumbnail event.logo "100x110" crop="center" as im %}
        <img src="{{im.url}}" />
        {% empty %}
          <img src="{{STATIC_URL}}images/placeholder_100x110.jpg">
        {% endthumbnail %}
      </div>
      <div class="event_heading">
        <table width="100%" cellspacing="" cellpadding="" border="0">
          <tr>
            <td colspan="2" class="heading"><a href="{% url 'solo_event' event.id %}">{{event.title|truncatewords:"9"}}</a></td>
          </tr>
          <tr>
            <td class="right">Venue</td>
            <td class="left">{{event.venue}}</td>            
          </tr>
          <tr>
            <td class="right">Date</td>
            <td class="left">{{event.date|date:"F dS, Y"}}</td>
          </tr>
          <tr>
            <td class="right">Time</td>
            <td class="left">{{event.time}} ({{event.get_duration}})</td>
          </tr>
        </table>

      </div>
      <div style="clear: both;"></div>

      <div class="description">
        {{event.description|safe}}
      </div>
      <hr>
      <table>
        <tr>
          <td class="tweet_fb">
            <!-- Facebook share button -->
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="https://www.klab.rw{% url 'solo_event' event.id %}" data-layout="button">
            </div>
          </td>
          <td>
             <a class="twitter-share-button" id="tweet_button" style="float:left;" href="https://twitter.com/intent/tweet" data-size="default">Tweet</a>
          </td>
        </tr>
      </table>
    </div>

</div>


{% endblock main-contents %}
