{% extends "public_base.html" %}

{% load thumbnail %}
{% load pagination_tags %}

{% block title %}
{{block.super}}
{% endblock title %}

{% block main-contents %}

<div id="events_content">

    <div class="event_small">
      <a href="{% url 'public_events' "all" %}">All Events</a>
      <a href="{% url 'public_events' "upcoming" %}">Upcoming Events</a>
      <a href="{% url 'public_events' "past" %}">Past Events</a>
    </div>  

  {% autopaginate events 10 %}
  {% for event in events %}
  <div class="full_events">
    
    <div class="event_main">
      <div class="event_image">
        {% thumbnail event.logo "100x110" crop="center" as im %}
        <img src="{{im.url}}" />
        {% endthumbnail %}
      </div>
      <span class="heading">
        <a href="{% url 'solo_event' event.id %}">{{event.title|truncatewords:"9"}}</a>
      </span>
      <div class="event_details">
        <table width="100%" cellspacing="" cellpadding="" border="0">
          <tr>
            <td class="right">Venue</td>
            <td class="left">{{event.venue}}</td>            
          </tr>
          <tr>
            <td class="right">Date</td>
            <td class="left">{{event.date|date:"F dS, Y"}}</td>
          </tr>
          <tr>
            <td class="right">Time</td>
            <td class="left">{{event.time}} ({{event.get_duration}})</td>
          </tr>
        </table>
      </div>
    </div>
    
  </div>
  <div style="clear: both;"></div>          
  {% endfor %}

</div>


<div class="paginate">
  {% paginate %}
</div>

{% endblock main-contents %}
