{% extends "public_base.html" %}

{% load quickblocks %}
{% load thumbnail %}


{% block javascript %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<script type='text/javascript'>

  jQuery("a.gallery").colorbox({rel:"favorites",maxHeight : '70%',maxWidth : '100%'});

</script>
{% endblock %}

{% block inbody-script %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
      channelUrl : '//www.klab.rw/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

  // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

{% endblock %}

{% block main-contents %}


<div id="main-contents">
  {% load_qbs "operation_hours" %}

  {% block messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-{{ message.tags }}" data-alert="alert">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p>{{ message }}.</p>
    </div>
    {% endfor %}
    {% endif %}
  {% endblock messages %}


  {% if images %}
  <div id="favorites" class="radius shadow">
    {% for url, geo, title in images|slice:":5" %}
    {% thumbnail url geo crop="center" as im %}
    <a class="gallery" href="{{url}}" title="{{title}}"><img src="{{im.url}}" loading="lazy" class="fav_{{forloop.counter}}" /></a>
    {% endthumbnail %}
    {% endfor %}
  </div>

  <!-- hidden block of remaining images to include in slideshow -->
  <div style="display:none">
    {% for url, geo, title in images|slice:"5:" %}
    {% thumbnail url geo crop="center" as im %}
    <a class="gallery" href="{{url}}" title="{{title}}"><img src="{{im.url}}" loading="lazy" class="fav_{{forloop.counter}}" /></a>
    {% endthumbnail %}
    {% endfor %}
  </div>
  {% else %}
  <div id="no-flickr">
    <img src="{{ STATIC_URL }}images/no-flickr.jpg" style="width: 100%;height: 380px;"/>
  </div>
  {% endif %}
  <div style="clear: both;"></div>

  <div id="sides">
    <div id="main-side">
      <div id="welcome" class="radius shadow">
        <p>
          kLab provides an open space for IT entrepreneurs
          to collaborate and innovate in Kigali, Rwanda
        </p>
        <span class="details_size">
          kLab, ICT Park, 6th Floor<br/>
          Boulevard de l'Umuganda, Kacyiru
        </span>

        {% if operation_hours %}
        <table>
          {% for elt in operation_hours %}
          <tr class="details_size">
            <td> {{ elt.title }}</td>
            <td class="open_hours">{{ elt.content|safe }}</td>
          </tr>
          {% endfor %}
        </table>

        {% endif %}
      </div> 
      <div id="apply">
        <a href="{% url 'members.application_create' %}"><span class="big button radius shadow">Become a Member</span></a>
      </div>
      <div id="posts">
        {% for post in recent %}
        <div class="post">

          <div class="post_header">
            <div class="title">
              <a href="{% url 'public_post' post.id %}">{{post.title}}</a>
            </div>
            <div class="date">
              {{post.created_on|date:"F dS, Y"}}
            </div>
          </div>
          <div style="clear: both;"></div>

          <div class="post_body">
            {{post.teaser|safe}} <a href="{% url 'public_post' post.id %}">Read more</a>
            <span style="float:right;"><fb:comments-count href="https://www.klab.rw{% url 'public_post' post.id %}"/></fb:comments-count> comment(s) </span>
          </div>


        </div>
        {% endfor %}

      </div>
    </div>
    <div id="small-side">

      <div id="upcoming_events">
        <h3>Upcoming Events</h3>
        <div id="events_stream">
        
          {% for event in upcoming %}
          <div class="events">

            <div class="event_header">
              <div class="event_title">
                <a href="{% url 'solo_event' event.id %}">{{event.title|truncatewords:"3"}}</a>
              </div>
              <div class="date">
                {{event.date|date:"F d, Y"}}
              </div>
            </div>
            <div style="clear: both;"></div>
          
            <div class="event_body">
              {{event.description|truncatewords:"15"|safe}}
            </div>

          </div>

        {% endfor %}
        </div>
      </div>
        <h3><a href="https://twitter.com/search/?q=%40klabrw+OR+from%3Aklabrw">#klabrw Tweets</a>        <a class="pull-right" href="https://www.twitter.com/" title="Twitter"><img src="{{STATIC_URL}}images/twitter-bird.png"/></a>
	  </h3>


	<a class="twitter-timeline" href="https://twitter.com/search?q=%40klabrw+OR+from%3Aklabrw+-RT" data-widget-id="345542166468235265" data-chrome="noborders nofooter noheader transparent" data-tweet-limit="5">Tweets about "@klabrw OR from:klabrw"</a>

    </div>
  </div>

</div>

{% endblock main-contents %}
