{% extends "public_base.html" %}

{% load pagination_tags %}

{% block title %}
{{block.super}}
{% endblock title %}

{% block main-contents %}

<div id="opportunities_content">
{% block pull-left %}
  <div class="pull-left">
    <div class="opportunity_small">
      <a href="{% url 'public_opportunities' "new" %}">Newly Posted</a>
      <a href="{% url 'public_opportunities' "ending" %}">Ending Soon</a>
      <a href="{% url 'public_opportunities' "archived" %}">Archived</a>
      <form class="search_form" method="get">
      <input type="text" name="search" value="Search in {{group}}" onfocus="if
(this.value==this.defaultValue) this.value='';">
      <input type="submit" value="Search">
      </form>

    </div>  
  </div>
  {% endblock %}
  <div class="pull-right">
  {% autopaginate opportunities 5 %}
  {% for opportunity in opportunities %}
  <div class="full_opportunities">
    
    <div class="opportunity_main">
      <div class="opportunity_details">
        <table width="100%" cellspacing="" cellpadding="" border="0">
          <tr>
            <td colspan="2" class="oppheading"><a href="{% url 'solo_opportunity' opportunity.id %}">{{opportunity.title|truncatewords:"9"}}</a></td>
          </tr>
          <tr>
            <td clospan="2" class="top">Description</td>
	  </tr>
          <tr>
            <td colspan="2"  class="post_body">{{opportunity.description|safe|truncatewords:"30" }}</td>
          </tr>
          <tr>
            <td  colspan="2" class="top">Deadline</td>
          </tr>
          <tr>
	    {% if opportunity.deadline != None %}
	    <td colspan="2" class="bottom">{{opportunity.deadline|date:"F dS, Y"}}</td>
            {% else %}
	    <td colspan="2" class="bottom">No deadline.</td>
	    {% endif %}
	  </tr>
        </table>
      </div>
    </div>
    
  </div>
  <div style="clear: both;"></div>          
  {% endfor %}
  </div>
</div>


<div class="paginate">
  {% paginate %}
</div>

{% endblock main-contents %}
