{% extends "public_base.html" %}

{% load thumbnail %}
{% load markup %}
{% block title %} kLab - {{post.title}} {% endblock %}

{% block inbody-script %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
      channelUrl : '//www.klab.rw/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

  // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
{% endblock %}

{% block main-contents %}
<div id="blog_contents">

  <div id="blog_main">
    <div class="full_post">

      <div class="post_small">
        <span class="date">
          {{post.created_on|date:"F dS,Y"}}
        </span>
        <div class="post_photos">
          {% thumbnail post.photo "250x300" crop="center" as im %}
          <img src="{{im.url}}" />
          {% endthumbnail %}
        </div>
      </div>
      <div class="post_main">
        <div class="post_header">
          <div class="title">
            {{post.title}}
          </div>
	  {% with post.created_by as author %}
	  <div class="byline">by {{ author.first_name|capfirst }} {{ author.last_name }}</div>
	  {% endwith %}
        </div>
        <div style="clear: both;"></div>          
        
        <div class="post_body">
          {{post.body|markdown:"nl2br"}}

        </div>

        <hr/>
        <!-- Facebook comments -->
        <div class="fb-comments" data-href="http://www.klab.rw{% url public_post post.id %}" data-num-posts="5" data-width="700"></div>
        
      </div>



    </div>
  </div>

</div>
{% endblock main-contents %}
