{% extends "public/home.html" %}

{% load thumbnail %}

{% block title %} kLab - {{post.title}} {% endblock %}

{% block share-button %}
  <meta property="og:url"           content="http://www.klab.rw{% url 'public_post' post.id %}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{post.title|truncatewords:"9"}}" />
  <meta property="og:description"   content="{{post.body|truncatewords:"20" }}" />

  {% thumbnail post.photo "280x150" crop="center" as im %}
    <meta  property="og:image" content="http://www.klab.rw{{im.url}}">
  {% endthumbnail %}
{% endblock %}

{% block twitter-card %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@klabrw">
  <meta name="twitter:title" content="{{post.title|truncatewords:"9"}}">
  <meta name="twitter:description" content="{{post.body|truncatewords:"20" }}">
  {% thumbnail post.photo "280x150" crop="center" as im %}
    <meta name="twitter:image" content="http://www.klab.rw{{im.url}}">
  {% endthumbnail %}
{% endblock %}

{% block main-contents %}
<div id="blog_contents">

  <div id="blog_main">
    <div class="full_post">

      <div class="post_small">
        <span class="date">
          {{post.created_on|date:"F dS,Y"}}
        </span>
        <div class="post_photos">
          {% thumbnail post.photo "250x300" crop="center" as im %}
          <img src="{{im.url}}" />
          {% endthumbnail %}
        </div>
      </div>
      <div class="post_main">
        <div class="post_header">
          <div class="title">
            {{post.title}}
          </div>
	  {% with post.created_by as author %}
	  <div class="byline">by {{ author.first_name|capfirst }} {{ author.last_name }}</div>
	  {% endwith %}
        </div>
        <div style="clear: both;"></div>          
        
        <div class="post_body">
          {{post.body|safe}}
        </div>
        <hr/>
        <table>
          <tr>
            <td class="tweet_fb">
              <!-- Facebook share button -->
              <div id="fb-root"></div>
              <div class="fb-share-button" data-href="http://www.klab.rw{% url 'public_post' post.id %}" data-layout="button">
              </div>
            </td>
            <td>
               <a class="twitter-share-button" id="tweet_button" style="float:left;" href="https://twitter.com/intent/tweet" data-size="default">Tweet</a>
            </td>
          </tr>
        </table>

        <!-- Facebook comments -->
        <div class="fb-comments" data-href="http://www.klab.rw{% url 'public_post' post.id %}" data-num-posts="5" data-width="100%"></div>
      </div>
    </div>

  </div>

</div>
{% endblock main-contents %}
