{% extends "public_base.html" %}

{% load thumbnail %}
{% load markup %}

{% block title %}
{{block.super}}Open Space for IT Enterpreneurs
{% endblock title %}

{% block main-contents %}

<div id="events_content">

    <div class="event_small">
      <a href="{% url public_projects "all" %}">All Projects</a>
      
    </div>  

    
    <div class="event_main">
      <div class="solo_event_image">
	{% if not project.logo %}
	<img width="100" height="100" src="{{ STATIC_URL }}images/apple-touch-icon.png" />
	{% else %}
        {% thumbnail project.logo "100x110" crop="center" as im %}
        <img src="{{im.url}}" />
        {% endthumbnail %}
	{% endif %}
      </div>
      <div class="event_heading">
        <table width="100%" cellspacing="" cellpadding="" border="0">
          <tr>
            <td colspan="2" class="heading"><a href="{% url solo_project project.id %}">{{project.title|truncatewords:"9"}}</a></td>
          </tr>
          <tr>
            <td class="right">Owner</td>
            
            <td class="left"><a href="{% url public_profile  project.owner.id %}">{{project.owner.first_name}} {{project.owner.last_name}} </a></td>
          </tr>
          <tr>
            <td class="right">Location</td>
	    <td class="left">{{project.owner.neighborhood}}, {{project.owner.city}} in {{project.owner.country}}</td>
            
          </tr>
          <tr>
	    <td class="right">Membership</td>
            <td class="left">{{project.owner.get_membership_type_display}}</td>            
            
          </tr>
        </table>

      </div>
      <div style="clear: both;"></div>

      <div class="description">
        {{project.description|markdown:"nl2br"}}
      </div>

    </div>

</div>


{% endblock main-contents %}
